body{
  margin: 0;
}
a[style ="color :black"]
{
  text-decoration: none;
}
.title[h1]{
    font-size:35px;
}
.title{
  text-align:left;
    border-bottom: 3px solid gray;
    margin: 0;
    padding: 20px;
}

ul{
  border-right: 3px solid gray;
  width: 100px;
  margin: 0;
  padding: 35px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ul{
  padding-left: 20px;
}

#grid #article{
  padding-left:25px;
}

@media(max-width:800px) {
  .title{
    border-bottom:none;
  }
  #grid{
    display: block;
  }
  ul{
    border-right:none;
  }
}
